
body {
    background-image: url('../img/bg.jpg'); /* 图像的文件路径或URL */
    background-size: cover; /* 设置背景图像的尺寸，可以使用cover、contain或具体的尺寸值 */
    background-repeat: no-repeat; /* 防止背景图像重复 */
    background-position: center center; /* 设置背景图像的位置 */
}

.text-container {
    display: flex; /* 使用 Flex 布局 */
    justify-content: space-between; /* 在元素之间均匀分布空间 */
  }
  
  .text-part {
    background-color: #f0f0f0; /* 添加背景颜色，仅为了可视化效果 */
    padding: 10px; /* 添加内边距以增加间距 */
    margin: 5px; /* 添加外边距以进一步增加间距 */
  }
  



.container-grid{
    display: grid;
    grid-template-areas:
        'header header header header header'
        'left middle middle middle right'
        'footer footer footer footer footer';

    grid-template-columns: fr 3fr 1fr; /* 列的比例设置，left和right各占1个单位，middle占3个单位 */
        grid-column-gap:5px;
        grid-row-gap:5px;
    }

.header{
    background-color: blue;
    padding:10px;
    text-align: center;
    font-size:40px;
    grid-area:header;
}
.footer{
    background-color: blue;
    padding:30px;/*
    text-align: center;
    font-size:20px;*/

    grid-area:footer;
}

.left{
    grid-template-columns: 3fr;
    background-color:rgb(83, 28, 28);
    grid-area:left;
}
.middle{
    background-color:lightgreen;
    grid-area:middle;
}
.right{
    background-color:gray;
    grid-area:right;
}

.left, .middle, .right{
    padding:10px;
    height:300px;
}

@media (max-width:600px){

    .container-grid{
        display: grid;
        grid-template-areas:
            'header '
            'left'
            'middle'
            'right'
            'footer'
    }
}